/*Contact*/
.contact {
  &-img {
    img {
      margin: 0 auto;
      display: block;
    }
  }
  &-text {
    text-align: center;

    h3 {
      margin: 20px 0 12px;
    }
  }
  &-form {
    background: $white;
    border-radius: $border-radius-l;
    margin: 80px auto;
    padding: 60px;
  }
  &-btn {
    display: block;
    margin: 48px auto 0;
  }
}

.gus-anim {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  margin-bottom: auto;
  margin-top: auto;
  width: 100%;
  z-index: 2;
  pointer-events: none;
}